/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2014, 9:40:19 PM
    Author     : Vidak
*/

body{
    font-family: "Arial Black", Gadget, sans-serif;
}

input{
    border: 1px solid #999999;
}