/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2014, 10:30:29 PM
    Author     : Vidak
*/

#contentWrapper{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-top: 50px;
}

.textCenterDiv{
    text-align: center;
}


.centerdInput{
    margin: auto;
}

.formTable{
    border: 1px solid #d3d3d3;
    padding: 15px;
    margin: auto;
}

.formTable td{
    padding: 5px;
}

.formTable .textInput{
    width: 350px;
}

.bigTextBox{
    width: 100%;
    height: 150px;
}

#applicationFormTable{
    width: 500px;
}

#applicationListTable{
    width: 900px;
    border: 1px solid #d3d3d3;
    
    border-spacing: 0px;
    border-collapse: separate;
}

#applicationListTable .textInput{
    width: 350px;
}

#applicationListTable tr{
    
}
#applicationListTable td{
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-bottom: 1px solid #d3d3d3;
}

#applicationListTable .row:hover{
    background-color: #99ccff;
}

#workExpertiseListDiv{
    width: 100%;
}

#loginTable{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}