<beans:beans
        xmlns="http://www.springframework.org/schema/security"
        xmlns:beans="http://www.springframework.org/schema/beans" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">


        <http auto-config="true">
                <!-- Blocked url patterns -->
                <intercept-url pattern="/welcome*" access="ROLE_USER" />
                <intercept-url pattern="/applicationView*" access="ROLE_USER" />
                <intercept-url pattern="/applicationList*" access="ROLE_USER" />
                <form-login login-page="/login.htm" default-target-url="/applicationList.htm"
                        authentication-failure-url="/loginfailed.htm" />
                <logout logout-success-url="/logout.htm" />
        </http>

        <!-- Necessary for using spring security tags in jsp-files -->
        <beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

        <authentication-manager>
           <authentication-provider>
                <jdbc-user-service data-source-ref="dataSourceLogin"

                   users-by-username-query="
                      select username,password, enabled 
                      from users where username=?" 

                   authorities-by-username-query="
                      select u.username, ur.authority from users u, user_roles ur 
                      where u.user_id = ur.user_id and u.username =?  " 

                />
                <password-encoder hash="sha-256" base64="false"/>
           </authentication-provider>
        </authentication-manager>

</beans:beans>